<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @nombre.upcase %> desea contactar con nosotros</h1>
    <h3>Su mensaje es el siguiente: </h3>
    <p><%= @message %></p>
  </body>
</html>

<style>
  body {background-color:grey}
  h1   {color:blue}
  p    {color:green}
</style>