/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.gris {
	color: grey;
}

.hdr-logo {
	height: 30px;
	width: 30px;
}

.hdr-white {
	background-color: white;
}

.img-cr {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}

.hdr-style {
	background-color: #353536;
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}

.footer-color {
  background-color: #353536;
  border-top-width: 8px;
  border-top-color: #f1c40f;  
}

.color-letter {
	color: #777;
}

.hdr-magin-top {
	margin-top: -40px;
}

.graphic-margin {
	margin-top: -20px;
	margin-right: 15px;
}

.hdr-bottom {
	background-color: #f1c40f;
  border: 0px;
  border-radius: 0px;
}

.logo-size {
	width: 40px;
	height: 40px;
}

.margin-logo-footer {
  margin-top: -10px;
}

/*.grey-scale {
  -webkit-filter: grayscale(80%); 
  filter: grayscale(100%);
  -webkit-filter: blur(5px);
}*/

.grey-scale {
  -webkit-filter: blur(8px) grayscale(.5) opacity(0.8);
}


.custom-circle {
  height: 200px !important;
  width: 200px;
  padding: 10px;
  border: solid 2px #353536;
  margin-top: 10px;
  -webkit-filter: grayscale(80%); 
  filter: grayscale(100%);
}

.title-contact-info {
  font-size: 22px;
  color: #0b384c;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px;
}

.text-contact-info {
  color: #888888;
}
.contact-us .input-box, textarea {
  width: 100%;
  margin: auto;
}
.contact-form-box {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  border-radius: 0px;
  padding-bottom: 10px;
  height: 40px;
}
.input-box {
  border: 0;
  width: 274px;
  text-align: left;
  text-transform: none;
  padding: 9px;
  height: 40px;
  padding-left: 15px;
  display: inline-block;
  background: rgba(255,255,255, 0.95);
}
.textarea-box {
  border: 0;
  text-align: left;
  text-transform: none;
  padding: 9px;
  
  //min-height: 250px;
  padding-left: 15px;
  display: inline-block;
  border-radius: 4px;
  background: rgba(255,255,255, 0.95);
}
.text-contact-info {
    color: $gris;
}
.custom-button {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  border-radius: 4px;
  margin: 10px;
  border: none;
}
.blue-btn {
  background: #3ab0e2;
}
.div-form {
  border: solid 1px #ddd;
  border-radius: 4px;
}